.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 70px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .userName {
      padding-left: 70%;
      color: #fff;
    }
  }
 
  .bg-primary {
    height: 56px;
    z-index: 1050;
    background-color: #007bff !important;
}

.navbar-brand>img {
  padding: 0px 0px;
    width: 140px;
}
.userName {

  padding-left: 76%;
    color: #fff;

}

@media (min-width: 768px){
  .userName {
    padding-left: 70%;
    color: #fff;
  }

}

@media (min-width: 992px){

.container, .container-sm, .container-md, .container-lg {
    max-width: 70%;
}
}